<loading *ngIf="!isLogin"></loading>
<form *ngIf="isLogin" [formGroup]="productForm" (ngSubmit)="onSubmit()" class="font-sans Roboto">
  <div class="container mt-3 pb-6">
    <div  class="bg-white relative shadow rounded-lg w-5/6 md:w-5/6  lg:w-4/6 xl:w-3/6 mx-auto pt-5">
      <div class="mb-2">
        <div class="flex text-center items-center flex-col justify-center">
    <label for="nombre" class="font-bold  text-3xl text-gray-900">
    <input type="text" id="nombre" placeholder="Nombre"
           class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
           formControlName="name">
    </label>       
    <h3 *ngIf="form['name'].touched && form['name'].hasError('required')" class="text-red-600 mt-1">
      El título es obligatorio
    </h3>
    </div>
  </div>
  <div class="mb-2">
   <div class="flex text-center items-center flex-col justify-center">
    <label for="description" class="font-bold  text-3xl text-gray-900">
    <textarea id="description" rows="4"
              class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
              placeholder="Descripción"
              formControlName="description">
    </textarea>
    </label>
    <h3 *ngIf="form['description'].touched && form['description'].hasError('required')" class="text-red-600 mt-1">
      La descripción es obligatoria
    </h3>
    </div>
  </div>
  <div class="mb-6">
    <div class="flex text-center items-center flex-col justify-center">
    <label for="price" class="font-bold  text-3xl text-gray-900">
    <input type="text" id="price" placeholder="Precio"
           class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
           formControlName="price">
    </label>       
    <h3 *ngIf="form['price'].touched && form['price'].hasError('required')" class="text-red-600 mt-1">
      El precio es obligatorio
    </h3>
    </div>
  </div>
  <div class="mb-6">
    <div class="flex text-center items-center flex-col justify-center">
    <label class="font-bold  text-3xl text-gray-900" for="photo">
    <input (change)="onFileChange($event)"
           class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
           id="image" type="file"
           formControlName="image">
    </label>        
    </div>
  </div>
  <div class="mb-6">
  <div class="flex text-center items-center flex-col justify-center">
    <label for="photo" class="font-bold  text-3xl text-gray-900">
    <img alt="" id="photo"
         *ngIf="!newImage && selectedProduct.photo !== ''"
         class="h-96 md:h-[400px] rounded-xl"
         [src]="'http://localhost:8000' + selectedProduct.photo">
    <img alt="" id=""
         *ngIf="newImage"
         class="h-96 md:h-[400px] rounded-xl"
         [src]="newImage">
  </label>       
  </div>
  </div>
  <h3 *ngIf="showInvalidSubmit" class="text-red-600 mt-1">
    Rellena correctamente el formulario (*)
  </h3>
  <div class="items-center text-center pt-5 pb-5">
  <button type="submit" (blur)="showInvalidSubmit = false" 
    class="bg-red-600 hover:bg-red-900 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
    Editar Producto
  </button>
  <button type="button" (click)="goBack()"
      class="bg-red-600 hover:bg-red-700 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
      Cancelar
  </button>
</div>
  </div>
  </div>
</form>
