<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
  checked="checked">
<div class="carousel-item absolute opacity-0" style="height:50vh;">
  <div class="block h-full w-full mx-auto pt-6 md:pt-0 md:items-center bg-cover bg-right">

    <div class="container mx-auto">
      <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
        <p class="text-white text-2xl my-4"></p>
        <a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-red-700 hover:border-"
          href="#"></a>
      </div>
    </div>

  </div>
</div>

<section class="bg-transparent py-8 font-sans Roboto">

  <div class="container py-1 text-center px-6 mx-auto mt-4 m-2 text-xl">

    <i class="text-yellow-500  fa fa-exclamation-triangle" aria-hidden="true"> En nuestro gimnasio tratamos la filosofía
      del tú a tú, por lo tanto estos
      productos solo están disponible para comprar en físico.</i>

  </div>


  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

    <nav id="store" class="w-full z-30 top-0 px-6 py-1 text-center items-center">
      <div class="w-full container mx-auto flex flex-wrap text-center items-center justify-center mt-0 px-2 py-3">

        <h2 class="uppercase tracking-wide font-bold text-center text-neutral-300 text-xl ">
          Productos que podrás encontrar en nuestro gimnasio
        </h2>
      </div>
    </nav>

    <div class="w-full h-full rounded-lg  mx-6 my-6 py-6 px-6 bg-neutral-800 opacity-80">
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-5 w-full px-5 md:px-14 gap-5 ">
        <li class="h-52 md:h-72 w-full bg-center rounded m-4" *ngFor="let product of products">
          <div class="cursor-pointer" routerLink="/store/product/{{ product.id }}">
            <div  class=" flex justify-center items-center bg-no-repeat w-full bg-center bg-cover h-40 md:h-60  rounded"
              style="background-image: url('http://localhost:8000{{product.photo}}');">
            </div>
            <div class="flex flex-row justify-between align-middle items-center ">
              <div class="flex align-middle items-start flex-col justify-start">
                <p class="text-white hover:text-red-700">
                  {{product.name}}
                </p>
                <p class="text-neutral-400 text-xl">
                  {{product.price}}€
                </p>
              </div>
            </div>
          </div>
            <div *ngIf="infoAuth.isLogin && !infoAuth.isTrainer" (click)="addShoppingProduct(product.id)" class="tooltip -mt-7 flex justify-end items-end align-middle text-white mr-3 text-xl cursor-pointer hover:text-gray-400">
              <i class="fa fa-shopping-cart"></i>
              <span class="absolute bg-gray-300 text-sm text-black p-2 rounded tailwind-tooltip translate-x-12 translate-y-10">Añadir al carrito</span>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>