<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
  checked="checked">
<div class="carousel-item absolute opacity-0" style="height:50vh;">
  <div class="block h-full w-full mx-auto pt-6 md:pt-0 md:items-center bg-cover bg-right"
    style="background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">

    <div class="container mx-auto">
      <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
        <p class="text-white text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</p>
        <a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-red-700 hover:border-"
          href="#">view product</a>
      </div>
    </div>

  </div>
</div>

<section class="bg-transparent py-8">

  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

    <nav id="store" class="w-full z-30 top-0 px-6 py-1 text-center items-center">
      <div class="w-full container mx-auto flex flex-wrap text-center items-center justify-center mt-0 px-2 py-3">

        <h2 class="uppercase tracking-wide font-bold text-center text-neutral-300 text-xl ">
          Productos que podrás encontrar en nuestro gimnasio
        </h2>
      </div>
    </nav>

    <div class="w-full rounded-lg bg-neutral-800 opacity-80 mx-6">
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-5 w-full px-5 md:px-14 gap-5">
        <li *ngFor="let product of products">
          <a routerLink="/store/product/{{ product.id }}">
          <img class="hover:grow hover:shadow-lg rounded-lg" src='http://localhost:8000{{product.photo}}'>
            <p class="text-white hover:text-red-700">
              {{product.name}}
            </p>
            <p class="text-neutral-400 text-xl">
              {{product.price}} €
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="bg-transparent py-3 text-center">

  <div class="container py-8 px-6 mx-auto mt-4 m-2 text-xl">

    <p class="text-red-700">En nuestro gimnasio tratamos la filosofía del tú a tú, por lo tanto estos
      productos solo están disponible para comprar en físico.
    </p>

  </div>

</section>
<app-footer></app-footer>