
<div id="information" class=" w-full h-full">
    <div class="h-full w-full align-middle items-center">
        <div class="flex flex-col lg:flex-row gap-5 justify-center items-center align-middle mx-10 h-full mb-14">
            <div class="w-full h-96 flex flex-col justify-center items-center lg:flex-row md:justify-between gap-5 mt-52 md:mt-0 ">
                <div class=" w-full p-6 border shadow-lg border-gray-800 rounded-lg bg-gray-900 flex flex-col items-center align-middle h-96">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white text-center">Dónde Encontrarnos</h2>
                    <div class="h-full w-full"><div class="h-full rounded flex justify-center items-center w-full"><iframe class="rounded h-full w-full" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=es&amp;q=Calle%20San%20Joaqu%C3%ADn,%208,%20Orihuela%20Alicante+(Mi%20nombre%20de%20egocios)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">GPS devices</a></iframe></div></div>
                </div>
                <div class="flex flex-col items-center align-middle w-full p-6 border shadow-lg border-gray-800 rounded-lg bg-gray-900 h-96">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white pb-10 md:pb-24 text-center">Horario</h2>
                    <h3 class="mb-2 text-xl font-bold tracking-tight text-white text-center">LUNES, MIÉRCOLES Y VIERNES:</h3>
                    <h4 class="mb-2 text-lg font-bold tracking-tight text-white text-center">09:00 - 12:00 / 15:00 - 21:00.</h4>
                    <h3 class="mb-2 text-xl font-bold tracking-tight text-white text-center">MARTES Y JUEVES:</h3>
                    <h4 class="mb-2 text-lg font-bold tracking-tight text-white text-center">17:00 - 21:00.</h4>
                </div>
                <div class="flex flex-col items-center align-middle h-96 w-full p-6 border shadow-lg border-gray-800 rounded-lg bg-gray-900">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white pb-10 md:pb-24 text-center">Redes Sociales</h2>
                    <div class="flex flex-row justify-between items-center align-middle gap-4 text-white text-6xl">
                        <a href="https://instagram.com/olimpogymorihuela?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram border border-white rounded-full p-3"></i></a>
                        <a href="https://es-es.facebook.com/olimpogymfc/" target="_blank"><i class="fa fa-facebook border border-white rounded-full p-3"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter border border-white rounded-full p-3"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>