<nav class="w-full bg-gray-800 px-2">
  <ul class="flex justify-center columns-2 md:flex-row items-center align-middle gap-4 text-white font-semibold">
    <li class="uppercase m-4">
      <a
      routerLink="/customer/account"
      routerLinkActive="text-white underline" [routerLinkActiveOptions]="{ exact: true }"
      class="md:mx-5 text-center hover:text-red-800 ">
        Mi cuenta
      </a>
    </li>
    <li class="uppercase m-4">
      <a
      routerLink="/customer/trainings"
      routerLinkActive="text-white underline" [routerLinkActiveOptions]="{ exact: true }"
      class="md:mx-5 text-center hover:text-red-800 ">
        Mis entrenamientos
      </a>
    </li>
    <li class="uppercase m-4">
      <a
      routerLink="/customer/trainer"
      routerLinkActive="text-white underline" [routerLinkActiveOptions]="{ exact: true }"
      class="md:mx-5 text-center hover:text-red-800 ">
        Mi Entrenador
      </a>
    </li>
  </ul>
</nav>
