<loading *ngIf="!isLogin"></loading>
<form *ngIf="isLogin" [formGroup]="aboutForm" (ngSubmit)="onSubmit()" class="w-full h-full">
   <div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-transparent mx-20 rounded-lg">
      <div class="max-w-4xl flex justify-center items-center h-auto flex-wrap mx-auto my-20 rounded-lg">
         <div class="bg-white p-4 rounded-3xl bg-opacity-60 shadow-xl flex justify-center align-middle items-center mb-14 md:mb-10">
            <h1 class="text-black text-3xl font-bold text-center">REDES SOCIALES</h1>
         </div>
         <div class="w-full rounded-lg shadow-2xl bg-white opacity-60 mx-0">
            <div class="p-4 md:p-12 text-center lg:text-left">
               <div class="flex flex-col md:flex-row justify-center items-center align-middle gap-20">
                  <div>
                     <div class="block rounded-full shadow-xl mx-auto  h-24 w-24 md:h-48 md:w-48 bg-cover bg-center"
                        style="background-image: url('../../../assets/instagram-logo-png-transparent-background-1024x1024-1.png')">
                     </div>
                     <h1 class="text-lg md:text-3xl font-bold pt-8 ">INSTAGRAM</h1>
                     <div class="mx-auto  w-4/5 pt-3 border-b-2 border-red-800 opacity-25"></div>
                     <input type="text" [(ngModel)]="media.instagram" formControlName="instagram">
                  </div>
                  <div>
                     <div class="block rounded-full shadow-xl mx-auto h-24 w-24 md:h-48 md:w-48 bg-cover bg-center"
                        style="background-image: url('../../../assets/Logo_de_Facebook.png')">
                     </div>
                     <h1 class="text-lg md:text-3xl font-bold pt-8 ">FACEBOOK</h1>
                     <div class="mx-auto  w-4/5 pt-3 border-b-2 border-red-800 opacity-25"></div>
                     <input type="text" [(ngModel)]="media.facebook" formControlName="facebook">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-transparent mx-20 rounded-lg">
      <div class="max-w-4xl flex justify-center items-center h-auto flex-wrap mx-auto my-20 rounded-lg">
         <div class="bg-white p-4 rounded-3xl bg-opacity-60 shadow-xl flex justify-center align-middle items-center my-3">
            <h1 class="text-black text-3xl font-bold text-center">HORARIO</h1>
         </div>
         <div class="w-full rounded-lg shadow-2xl bg-white opacity-60 mx-0">
            <div class="p-4 md:p-12 text-center lg:text-left">
               <div class="flex flex-col md:flex-row justify-center items-center align-middle gap-20">
                  <div>
                     <h1 class="text-xl md:text-3xl font-bold pt-8 text-center">LUNES, MIÉRCOLES Y VIERNES:</h1>
                     <div class="mx-auto w-4/5 pt-3 border-b-2 border-red-800 opacity-25"></div>
                     <input type="text" [(ngModel)]="media.horario1" formControlName="horario1" class="w-full text-center">
                  </div>
                  <div>
                     <h1 class="text-xl md:text-3xl font-bold pt-8 text-center">MARTES Y JUEVES:</h1>
                     <div class="mx-auto w-4/5 pt-3 border-b-2 border-red-800 opacity-25"></div>
                     <input type="text" [(ngModel)]="media.horario2" formControlName="horario2" class="w-full text-center">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h3 *ngIf="showInvalidSubmit" class="text-red-600 mt-1">
      Rellena correctamente el formulario (*)
   </h3>
   <div class="flex justify-center align-middle items-center">
      <button (blur)="showInvalidSubmit = false" class="bg-white p-4 rounded-3xl border-4 bg-opacity-60 text-3xl font-bold border-white hover:bg-opacity-90 text-black shadow-xl flex justify-center align-middle items-center mb-5 mx-52" type="submit">Actualizar datos</button>
   </div>
</form>