<div *ngIf="isLogin" class="w-full h-full font-sans Roboto">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()"
        class="relative overflow-x-auto rounded-lg m-5 bg-white shadow  w-5/6 md:w-5/6  lg:w-4/6 xl:w-3/6 mx-auto">
        <h2 class="text-black text-center text-3xl font-bold pb-6">Crear Nuevo Post</h2>
        <div class="mb-6">
            <div class="flex flex-col items-center text-center justify-center">
                <label for="title" class="font-bold text-3xl text-gray-900">
                    <input type="text" id="title" placeholder="Título"
                        class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
                        formControlName="title">
                </label>
                <h3 *ngIf="form['title'].touched && form['title'].hasError('required')" class="text-red-600 mt-1">
                    El título es obligatorio
                </h3>
            </div>
        </div>
        <div class="mb-6">
            <div class="flex flex-col items-center text-center justify-center">
                <label for="description" class="font-bold text-3xl text-gray-900">
                    <textarea id="description" rows="4"
                        class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
                        placeholder="Descripción" formControlName="description"></textarea>
                </label>
                <h3 *ngIf="form['description'].touched && form['description'].hasError('required')"
                    class="text-red-600 mt-1">
                    La descripción es obligatoria
                </h3>
            </div>
        </div>
        <div class="mb-6">
            <div class="flex flex-col items-center text-center justify-center">
                <label class="font-bold text-3xl text-gray-900" for="photo">
                    <input (change)="onFileChange($event)"
                        class="text-center justify-center border border-gray-300 text-sm rounded-lg block w-72 my-1 p-2.5"
                        id="photo" type="file" accept=".jpg,.jpeg,.png">
                </label>
            </div>
        </div>
        <div class="mb-6 flex flex-col items-center align-middle">
            <img [src]="selectedImage" class="h-96 md:h-[600px] rounded-xl" *ngIf="selectedImage" alt="Image"/>
        </div>
        <h3 *ngIf="showInvalidSubmit" class="text-red-600 mt-1">
            Rellena correctamente el formulario (*)
        </h3>
        <div class="items-center text-center pt-5 pb-5">
        <button type="submit" (blur)="showInvalidSubmit = false">
            <span
                class="bg-red-600 hover:bg-red-700 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
                Subir Post
            </span>
        </button>
        </div>
    </form>


    <div class="relative overflow-x-auto rounded-lg m-5 bg-white shadow  w-5/6 md:w-5/6  lg:w-4/6 xl:w-3/6 mx-auto">
        <h2 class="text-center text-3xl text-black font-bold p-4">Posts</h2>
        <table class="w-full text-sm text-left text-gray-900 ">
            <thead class="text-xs text-black uppercase bg-white ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Foto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Título
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Descripción
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts" class="bg-white border-b">
                    <td class="px-6 py-4 font-medium text-black whitespace-nowrap  w-52">
                        <div class="flex-shrink-0">
                            <img class="w-full h-20 sm:w-24 sm:h-24 rounded"
                                [src]="'http://localhost:8000' + post.photo" alt="Image">
                        </div>
                    </td>
                    <td class="px-6 py-4 font-bold text-black whitespace-nowrap ">
                        {{ post.title }}
                    </td>
                    <td class="px-6 py-4 text-black">
                        {{ post.description }}
                    </td>
                    <td class="px-6 py-4 text-right flex justify-end items-center align-middle">
                        <button class="mt-8"><i routerLink="/admin/editPost/{{ post.id }}"
                                class="fa fa-pencil-square-o px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-24  md:-translate-x-28 -translate-y-9">Editar
                                Post</span>
                        </button>
                        <button class="mt-8"><i (click)="deletePost(post.id)"
                                class="fa fa-trash px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-16 -translate-y-12">Borrar
                                Post</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
