    <nav class="bg-black px-2 sm:px-4 sticky w-full md:h-28 xl:h-24 z-20 top-0 left-0">
      <div class="px-5 md:pt-3 xl:pt-0 xl:px-12 flex justify-between mx-auto items-center align-middle">
        <div class="flex md:hidden"></div>
        <a class="text-3xl font-bold font-heading flex items-center justify-center" href="#">
          <img class="ml-5 md:mr-12 md:ml-0 h-14 md:h-16 lg:h-24 sm:h-16" src="../../assets/LOGO.png"> 
        </a>
        <ul class="hidden md:flex px-4 mx-auto font-semibold sm:text-sm font-heading space-x-12 text-white">
          <li><a class= "text-red-800 hover:text-red-800" href="#">INICIO</a></li>
          <li><a class="hover:text-red-800" href="#">SOBRE NOSOTROS</a></li>
          <li><a class="hover:text-red-800" href="#">INFORMACIÓN</a></li>
          <li><a class="hover:text-red-800" href="#">NUESTRO BLOG</a></li>
          <li><a class="hover:text-red-800" href="#">CONTÁCTANOS</a></li>
        </ul>
        <div class="hidden md:flex space-x-8 items-center text-2xl text-white">
          <a class=" items-center hover:text-gray-200 hidden md:flex m-5" href="#">
            <i class="fa fa-user"></i>
          </a>
        </div>
        <a class="text-white text-2xl md:hidden" href="#">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav>