<div class="h-4/6 flex justify-center">
  <form class="text-lg w-11/12 mt-5 bg-neutral-800/70 rounded-md p-4 h-full text-white flex flex-col justify-around
        sm:w-9/12 sm:px-10 md:w-8/12 md:px-16 lg:w-6/12 xl:w-5/12 font-sans Roboto"
        [formGroup]="passwordForm">
    <h3 class="text-3xl font-bold text-center">
      Introduce tu nueva contraseña
    </h3>
    <div>
      <label for="password">Nueva contraseña</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="mt-1 px-2 py-1 block w-full text-black rounded-sm focus-visible:outline-red-800">
      <h3 *ngIf="form['password'].touched && form['password'].hasError('required')"
          class="text-red-600 mt-1">
        La contraseña es obligatoria
      </h3>
    </div>
    <div>
      <label for="password">Confirma la contraseña</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        class="mt-1 px-2 py-1 block w-full text-black rounded-sm focus-visible:outline-red-800">
      <h3 *ngIf="form['confirmPassword'].touched && form['confirmPassword'].hasError('required')"
          class="text-red-600 mt-1">
        La confirmación es obligatoria
      </h3>
      <h3 *ngIf="form['confirmPassword'].touched && form['confirmPassword'].hasError('passwordMismatch')"
          class="text-red-600 mt-1">
        La contraseña no coincide
      </h3>
    </div>
    <h3 *ngIf="showInvalidSubmit"
        class="text-red-600 mt-1">
      Rellena correctamente el formulario (*)
    </h3>
    <div class="sm:flex sm:justify-between">
      <button (click)="sendEmail()" class="p-2 rounded-lg bg-red-800/50 hover:bg-red-800 sm:order-1"
              (blur)="showInvalidSubmit = false">
        Enviar
      </button>
    </div>
  </form>
</div>
