<loading *ngIf="!isLogin"></loading>
<navbar-admin *ngIf="isLogin"></navbar-admin>
<div *ngIf="isLogin" class="w-full">
    <h1 class="text-center text-4xl text-white my-4">Entrenamientos</h1>

    <div class="relative overflow-x-auto shadow-md rounded-lg mx-12 md:mx-32 my-10">
        <table class="w-full text-sm text-left text-gray-400">
            <thead class="text-xs  uppercase text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-800">
                        Nombre Entrenamiento
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-800">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-200 dark:border-gray-700" *ngFor="let training of trainings">
                    <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap text-white bg-gray-600">
                        <i class="fa fa-file-pdf-o text-2xl mr-4"></i>{{ training.name }}
                    </th>
                    <td class="px-6 py-4 bg-gray-300 text-right flex justify-end items-center align-middle">
                        <button><i (click)="deleteTraining(training.id)"
                                class="fa fa-trash px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-32 -translate-y-12">Borrar
                                Entrenamiento</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>