<header-nav></header-nav>
<loading *ngIf="!isLogin"></loading>
<navbar-admin *ngIf="isLogin"></navbar-admin>
<div *ngIf="isLogin" class="flex flex-row w-full justify-center items-center align-middle gap-9 sm:gap-32 my-9">
    <div class="ml-5 sm:ml-0 w-72 md:w-96">
        <input placeholder="Buscar por nombre" #inputSearch (input)="search(inputSearch.value)" type="text"
            id="input-search"
            class=" border text-sm rounded-lg block w-full p-2.5 bg-gray-500 border-gray-600 placeholder-gray-400 text-white ">
    </div>
    <button
        class="relative inline-flex items-center justify-center p-0.5 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white text-white focus:outline-none focus:ring-0 ">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 rounded-md group-hover:bg-opacity-0">
            Añadir Cliente
        </span>
    </button>
</div>
<div *ngIf="isLogin" class="w-full h-full">
    <div class="relative overflow-x-auto shadow-md rounded sm:rounded-lg m-5">
        <table class="w-full text-sm text-left text-gray-300">
            <thead class="text-xs uppercase  bg-gray-800 text-gray-300">
                <tr class="text-sm md:text-lg">
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Entrenamiento
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Entrenador
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha Inscripción
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha del último pago
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Pagado
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Subir Entrenamiento
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers" class=" border-b bg-gray-600 border-gray-600 text-sm md:text-lg">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                        {{ customer.name }}
                    </th>
                    <td *ngIf="customer.typeTraining === null" class="px-6 py-4">
                        Entrenamiento no asignado
                    </td>
                    <td *ngIf="customer.typeTraining !== null" class="px-6 py-4">
                        {{ customer.typeTraining }}
                    </td>
                    <td *ngIf="customer.trainer !== undefined" class="px-6 py-4">
                        {{ customer.trainer.name }}
                    </td>
                    <td *ngIf="customer.trainer === undefined" class="px-6 py-4">
                        Entrenador no asignado
                    </td>
                    <td class="px-6 py-4">
                        {{ customer.dateInscription }}
                    </td>
                    <td class="px-6 py-4">
                        <div *ngFor="let payment of customer.payment ? customer.payment : []">
                            <p *ngIf="payment === undefined">No hay fecha de último pago</p>
                            <p *ngIf="payment !== undefined">{{ payment.payment_date }}</p>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div *ngFor="let payment of customer.payment ? customer.payment : []">
                            <p *ngIf="payment === undefined">No hay información de pago</p>
                            <p *ngIf="payment !== undefined">{{ payment.paid ? 'Pagado' : 'No Pagado' }}</p>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <input (change)="onFileChange($event, customer.id)" class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400" type="file">
                        <button><i (click)="saveTraining()"  class="fa fa-upload px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                            class="absolute bg-gray-900 text-sm text-white p-2 rounded tailwind-tooltip translate-x-12 -translate-y-9">Subir Entrenamiento</span>
                        </button>
                    </td>
                    <td class="px-6 py-4 text-right flex justify-end items-center align-middle">
                        <button><i class="fa fa-euro px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute bg-gray-900 text-sm text-white p-2 rounded tailwind-tooltip -translate-x-12 -translate-y-9">Pagar</span>
                        </button>
                        <button><i routerLink="/admin/editCustomer/{{ customer.id }}"
                                class="fa fa-pencil-square-o px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-16 -translate-y-9">Editar
                                Cliente</span>
                        </button>
                        <button><i (click)="deleteCustomer(customer.id)"
                                class="fa fa-trash px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-16 -translate-y-12">Borrar
                                Cliente</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
