<button type="button" (click)="goBack()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium  rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white text-white  focus:outline-none focus:ring-pink-200 ">
    <span
      class="relative px-5 py-2.5 transition-all ease-in duration-75  bg-gray-800 rounded-md group-hover:bg-opacity-0">
        Volver
    </span>
</button>
<div class="mb-4 md:mb-0 w-full relative">
  <div class="w-full px-4 lg:px-0">
    <h2 class="text-4xl text-white text-center font-semibold  leading-tight mb-5">
      {{selectedProduct.name}}
    </h2>
  </div>
  <div class="w-full  flex flex-col xl:flex-row justify-between items-center align-middle">
    <img [src]="'http://localhost:8000' + selectedProduct.photo"
         class=" h-96 md:h-[460px] rounded-lg shadow m-7" />
    <div class="px-4 lg:px-0 mt-12 m-5 text-lg leading-relaxed  text-white">
      <p class="pb-6 text-center">{{selectedProduct.description}}</p>
    </div>
  </div>
</div>
