<loading *ngIf="!isLogin"></loading>
<div *ngIf="isLogin" class="w-full h-full">
    <navbar-admin></navbar-admin>

    <div class="bg-transparent antialiased">
        <div class="container mb-2 mt-24">
            <div>

                <div class="bg-white relative shadow rounded-lg w-5/6 md:w-5/6  lg:w-4/6 xl:w-3/6 mx-auto">
                    <div class="flex justify-center">
                        <img *ngIf="trainer?.photo !== '/storage/'" [src]="'http://localhost:8000' + trainer?.photo"
                            class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-md border-4 border-white bg-white">
                        <img *ngIf="trainer?.photo === '/storage/'" src="../../assets/perfil.png"
                            class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-md border-4 border-white bg-white">
                    </div>
                    <div class="mt-16">
                        <h1 class="font-bold text-center text-3xl text-gray-900">{{trainer?.name}} {{trainer?.surname}}
                        </h1>

                        <div class="w-full text-center">
                            <p> {{trainer?.email}} </p>
                            <p> {{trainer?.specialty}} </p>
                        </div>
                        <div class="items-center text-center pt-5 pb-5">
                            <button routerLink="/admin/editAccount"
                                class="bg-red-600 hover:bg-red-700 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
                                Editar usuario
                            </button>
                            <button
                                class="bg-red-600 hover:bg-red-700 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
                                Cambiar contraseña
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>