<div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-transparent mb-52">

    <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-20 lg:my-0 mb-52">


        <div id="profile"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


            <div class="p-4 md:p-12 text-center lg:text-left">
                <!-- Image for mobile view-->
                <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                    style="background-image: url('../../../assets/RafaAlex.jpeg')"></div>

                <h1 class="text-3xl font-bold pt-8 lg:pt-0">¿QUIÉNES SOMOS?</h1>
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-red-800 opacity-25"></div>
                <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start"> RAFAEL Y
                    ALEJANDRO, DOS APASIONADOS DEL DEPORTE QUE EXPRESAN SUS CONOCIMIENTOS EN UN GIMNASIO DE ORIHUELA QUE
                    LLEVA MÁS DE 40 AÑOS EJERCIENDO LA CIENCIA DE LA ACTIVIDAD FÍSICA Y EL DEPORTE; NO SÓLO EN NUESTRA
                    CIUDAD, NOSOTROS VAMOS MÁS ALLÁ, COMPARTIENDO ENTRENAMIENTOS PERSONALIZADOS MENSUALMENTE A TODO
                    AQUÉL QUE LO REQUIERA.</p>

            </div>

        </div>

        <div class="w-full lg:w-2/5">
            <img src="../../../assets/RafaAlex.jpeg" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">


        </div>


    </div>
</div>