<nav class="text-white bg-black py-3 text-lg lg:text-xl">
  <ul class="flex flex-wrap justify-between items-center relative
  md:flex-nowrap md:px-6">
    <!--Icono menú dropdown-->
    <li class="relative pl-3 md:hidden">
      <button (click)="showDropdown = !showDropdown" (blur)="hideDrop()">
        <i class="fa fa-bars text-4xl"></i>
      </button>
    </li>
    <!--Logo Olimpo-->
    <li class="relative md:block">
      <img class="h-16 sm:h-20 lg:h-24 cursor-pointer" src="../../../assets/LOGO.png" alt=""
           routerLink="/home">
    </li>
    <!--Icono usuario, funcionalidad de login-->
    <li class="relative pr-3 md:order-3">
      <!--Botón sin loguear-->
      <button routerLink="/login" class="hover:text-red-700"
              [ngClass]="{'text-red-700' : router.url == '/login'}"
              *ngIf="!infoAuth.isLogin">
        <i class="fa fa-user text-3xl"></i>
      </button>
      <!--Cliente logueado-->
      <div class="relative flex gap-1" *ngIf="infoAuth.isLogin && !infoAuth.isTrainer">
        <!--Rueda settings-->
        <button (click)="showSettingsOptions = !showSettingsOptions" (blur)="hideSettingsOptions()"
                class="inline mr-4">
          <i class="fa fa-cog text-3xl hover:animate-spin"></i>
        </button>
        <!--Lista opciones settings-->
        <ul [ngStyle]="{'display': showSettingsOptions ? 'block' : 'none'}"
            class="absolute z-50 p-2 rounded-md bg-gray-600 top-9 right-10">
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="customer/trainings">
            Mis entrenamientos
          </li>
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="customer/trainer">
            Mi entrenador
          </li>
        </ul>
        <!--Silueta usuario-->
        <button (click)="showOptions = !showOptions" (blur)="hide()"
                class="inline">
          <i class="fa fa-user text-3xl"></i>
        </button>
        <!--Lista opciones usuario-->
        <ul [ngStyle]="{'display': showOptions ? 'block' : 'none'}"
            class="absolute z-50 right-0 p-2 rounded-md bg-gray-600 top-9">
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="customer/account">
            Mi cuenta
          </li>
          <li class="block w-max">
            <button class="hover:bg-red-800 rounded-md p-2" (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
      <!--Administrador logueado-->
      <div class="relative flex gap-1" *ngIf="infoAuth.isLogin && infoAuth.isTrainer">
        <!--(Admin)Rueda settings-->
        <button (click)="showSettingsOptions = !showSettingsOptions" (blur)="hideSettingsOptions()"
                class="inline mr-4">
          <i class="fa fa-cog text-3xl hover:animate-spin"></i>
        </button>
        <!--(Admin)Lista opciones settings-->
        <ul [ngStyle]="{'display': showSettingsOptions ? 'block' : 'none'}"
            class="absolute z-50 p-2 rounded-md bg-gray-600 top-9 right-10">
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="admin/users">
            Usuarios
          </li>
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="admin/editBlog">
            Blog
          </li>
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="admin/aboutSettings">
            Información gimnasio
          </li>
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="admin/products">
            Productos
          </li>
        </ul>
        <!--(Admin)Silueta usuario-->
        <button (click)="showOptions = !showOptions" (blur)="hide()"
                class="inline">
          <i class="fa fa-user text-3xl"></i>
        </button>
        <!--(Admin)Lista opciones usuario-->
        <ul [ngStyle]="{'display': showOptions ? 'block' : 'none'}"
            class="absolute z-50 right-0 p-2 rounded-md bg-gray-600 top-9">
          <li class="block w-full hover:bg-red-800 rounded-md p-2 cursor-pointer"
              routerLink="admin/account">
            Mi cuenta
          </li>
          <li class="block w-max">
            <button class="hover:bg-red-800 rounded-md p-2" (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </li>
    <!--lista de enlaces-->
    <li class="w-full
        md:block"
        [ngClass]="{'hidden' : !showDropdown}">
      <ul class="flex flex-col gap-3 w-full absolute bg-black p-3 z-50
          md:flex-row md:justify-evenly md:mt-0 md:static
          lg:justify-center lg:gap-16 lg:pl-12">
        <li [ngClass]="{'text-red-700' : router.url == '/home'}" routerLink="/home"
            class="cursor-pointer hover:text-red-700">
          INICIO
        </li>
        <li [ngClass]="{'text-red-700' : router.url == '/aboutUs'}" routerLink="/aboutUs"
            class="cursor-pointer hover:text-red-700">
          SOBRE&nbsp;&nbsp;NOSOTROS
        </li>
        <li [ngClass]="{'text-red-700' : router.url == '/information'}" routerLink="/information"
            class="cursor-pointer hover:text-red-700">
          INFORMACIÓN
        </li>
        <li [ngClass]="{'text-red-700' : router.url == '/blog'}" routerLink="/blog"
            class="cursor-pointer hover:text-red-700">
          BLOG
        </li>
        <li [ngClass]="{'text-red-700' : router.url == '/store'}" routerLink="/store"
            class="cursor-pointer hover:text-red-700">
          TIENDA
        </li>
      </ul>
    </li>
  </ul>
</nav>
