
<div class="w-full h-full">
    <navbar-admin></navbar-admin>
    
<div class="relative overflow-x-auto shadow-md rounded sm:rounded-lg m-5">
    <table class="w-full text-sm text-left text-gray-400">
        <thead class="text-xs uppercase  bg-gray-900 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Entrenamiento
                </th>
                <th scope="col" class="px-6 py-3">
                    Entrenador
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Inscripción
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class=" border-b bg-gray-800 border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    Sliver
                </td>
                <td class="px-6 py-4">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
                <td class="px-6 py-4 text-right flex justify-end items-center align-middle">
                    <button><i class="fa fa-pencil-square-o px-2 text-xl text-gray-600 hover:text-gray-400"></i></button>
                    <button><i class="fa fa-upload px-2 text-xl text-gray-600 hover:text-gray-400"></i></button>
                    <button><i class="fa fa-trash px-2 text-xl text-gray-600 hover:text-gray-400"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

</div>