<button type="button" (click)="goBack()"><i class="fa fa-arrow-left text-4xl text-white mx-5 my-4"></i></button>
<section class="text-gray-700 body-font overflow-hidden bg-transparent font-sans Roboto">
    <div class="container px-5 py-5 mx-auto">
        <div *ngIf="selectedPost" class="lg:w-4/5 mx-auto flex flex-wrap w-full rounded-lg bg-neutral-800 opacity-80">
            <img [src]="'http://localhost:8000' + selectedPost.photo"
                class="lg:w-1/2 w-full object-cover object-center rounded-lg border border-gray-200" alt="imagePost">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h1 class="text-white text-3xl title-font text-center font-medium mb-1">{{selectedPost.title}}</h1>
                <div class="flex mb-4">
                </div>
                <p class="leading-relaxed text-white">{{selectedPost.description}}</p>
            </div>
        </div>
    </div>
</section>
