<loading *ngIf="!isLogin"></loading>
<div *ngIf="isLogin"
     class="flex flex-col-reverse md:flex-row w-full justify-between items-center align-middle my-9 font-sans Roboto">
  <div></div>
  <div class="flex  w-72 md:w-96 md:ml-56">
    <input placeholder="Buscar por nombre" #inputSearch (input)="search(inputSearch.value)" type="text"
           id="input-search"
           class="border text-sm rounded-l block w-full p-2.5 bg-white border-gray-300 placeholder-gray-400 text-black">
    <div class="relative text-black">
      <button class="bg-white border border-gray-300 rounded-r px-2 h-full"
              (click)="showFilterOptions = !showFilterOptions"
              (blur)="hide()">
        <p class="hidden md:block">
          Filtrar
        </p>
        <i class="fa fa-caret-down text-xl md:hidden">
        </i>
      </button>
      <ul id="optionsFilter" class="absolute right-0 z-50 bg-white p-2 rounded"
          [ngStyle]="{'display': showFilterOptions ? 'block' : 'none'}">
        <li class="flex items-center gap-3 w-full mb-2 hover:bg-red-600 rounded">
          <button (click)="filterActiveCustomers()" class="p-2 rounded hover:bg-red-600 w-full">
            Ningún filtro
          </button>
        </li>
        <li class="flex items-center gap-3 w-full mb-2 hover:bg-red-600 rounded">
          <button (click)="filterPaidCustomers()" class="p-2 rounded hover:bg-red-600 w-full">
            Pagado
          </button>
        </li>
        <li class="flex items-center gap-3 w-full hover:bg-red-600 rounded">
          <button (click)="filterNoPaidCustomers()" class="p-2 rounded w-full">
            No pagado
          </button>
        </li>
        <li class="flex items-center gap-3 w-max hover:bg-red-600 rounded">
          <button (click)="filterDownAccountCustomers()" class="p-2 rounded w-full">
            Dados de baja
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex justify-end align-middle items-end mb-2 md:mb-0 md:mr-2">
    <button routerLink="/admin/register"
            class="bg-red-600 hover:bg-red-900 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
      <i class="fa fa-plus mr-2"></i> Cliente
    </button>
    <button routerLink="/admin/registerTrainer"
            class=" bg-red-600 hover:bg-red-900 text-white font-bold mr-3 ml-3 py-2 px-4 rounded-full">
      <i class="fa fa-plus mr-2"></i> Entrenador
    </button>
  </div>
</div>
<div *ngIf="isLogin" class="w-full h-full">
  <div class="relative overflow-x-auto shadow-md rounded sm:rounded-lg m-5">
    <table class="w-full text-sm text-left text-black font-sans Roboto">
      <thead class="text-xs uppercase bg-gray-100 text-gray-800 font-sans Roboto">
      <tr class="text-sm md:text-lg">
        <th scope="col" class="px-6 py-3">
          Nombre
        </th>
        <th scope="col" class="px-6 py-3">
          Entrenamiento
        </th>
        <th scope="col" class="px-6 py-3">
          Entrenador
        </th>
        <th scope="col" class="px-6 py-3">
          Fecha del último pago
        </th>
        <th scope="col" class="px-6 py-3">
          Fecha del siguiente pago
        </th>
        <th scope="col" class="px-6 py-3">
          Subir Entrenamiento
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers" class=" border-b bg-white border-gray-300 text-sm md:text-lg">
        <ng-template [ngIf]="customer.active || showInactiveCustomers">
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-black font-sans Roboto">
            {{ customer.name }}
          </th>
          <td *ngIf="customer.typeTraining === null" class="px-6 py-4">
            Ninguno
          </td>
          <td *ngIf="customer.typeTraining !== null" class="px-6 py-4">
            {{ customer.typeTraining }}
          </td>
          <td *ngIf="customer.trainer !== undefined" class="px-6 py-4">
            {{ customer.trainer.name }}
          </td>
          <td *ngIf="customer.trainer === undefined" class="px-6 py-4">
            Ninguno
          </td>
          <td class="px-6 py-4">
            <div>
              <div id="boxInfoPayment" class="flex justify-between">
                <p *ngIf="customer.lastPayment !== undefined">
                  {{ customer.lastPayment.payment_date | date:'dd/MM/yyyy' }}
                </p>
                <button *ngIf="customer.lastPayment !== undefined"
                        (click)="paymentEdit(customer.lastPayment.id, $event)">
                  <i class="fa fa-pencil-square-o px-2 text-xl">
                  </i>
                </button>
              </div>
              <div id="boxEditPayment" style="display: none">
                <input type="date" name="lastPaymentDate" [(ngModel)]="newDatePayment">
                <button (click)="confirmEdit(customer.lastPayment.id, $event, true)">
                  <i class="fa fa-check px-2 text-xl">
                  </i>
                </button>
                <button (click)="confirmEdit(customer.lastPayment.id, $event, false)">
                  <i class="fa fa-close px-2 text-xl">
                  </i>
                </button>
              </div>
            </div>
          </td>
          <td class="px-6 py-4">
            {{ customer.nextPayment | date:'dd/MM/yyyy' }}
          </td>
          <td class="px-6 py-4">
            <div class="flex flex-row justify-center items-center align-middle">
              <input (change)="onFileChange($event, customer.id)"
                     class="block w-full text-sm border rounded-lg cursor-pointer text-gray-900 focus:outline-none bg-gray-100 border-gray-600 placeholder-gray-400"
                     type="file" accept=".pdf">
              <button><i (click)="saveTraining()"
                         class="fa fa-upload px-2 text-xl text-gray-300 hover:text-gray-500"></i><span
                class="absolute bg-gray-200 text-sm text-black p-2 rounded tailwind-tooltip translate-x-12 -translate-y-9 font-sans Roboto">Subir
                Entrenamiento</span>
              </button>
            </div>
          </td>
          <td class="px-6 py-4 flex flex-row justify-end items-center align-middle">
            <button (click)="pay(customer.id)">
              <i class="fa fa-euro px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
              class="absolute bg-gray-200 text-sm text-black p-2 rounded tailwind-tooltip -translate-x-12 -translate-y-9 font-sans Roboto">Pagar</span>
            </button>
            <button>
              <i routerLink="/admin/allPayments/{{ customer.id }}"
                 class="fa fa-file px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
              class="absolute bg-gray-200 text-sm text-black p-2 rounded tailwind-tooltip -translate-x-32 -translate-y-9 font-sans Roboto">Historial de Pagos</span>
            </button>
            <button><i routerLink="/admin/editTraining/{{ customer.id }}"
                       class="fa fa-file-pdf-o px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
              class="absolute text-sm bg-gray-200 text-black p-2 rounded tailwind-tooltip -translate-x-36 md:-translate-x-44 -translate-y-9 font-sans Roboto">Editar
                Entrenamientos</span>
            </button>
            <button><i routerLink="/admin/editImc/{{ customer.id }}"
                       class="fa fa-calculator px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
              class="absolute text-sm bg-gray-200 text-black p-2 rounded tailwind-tooltip -translate-x-16 md:-translate-x-32 -translate-y-9 font-sans Roboto">Calcular IMC</span>
            </button>
            <button><i routerLink="/admin/editCustomer/{{ customer.id }}"
                       class="fa fa-pencil-square-o px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
              class="absolute text-sm bg-gray-200 text-black p-2 rounded tailwind-tooltip -translate-x-16 md:-translate-x-24 -translate-y-9 font-sans Roboto">Editar
                Cliente</span>
            </button>
            <ng-template [ngIf]=customer.active>
              <button><i (click)="deleteCustomer(customer.id)"
                         class="fa fa-trash px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
                class="absolute text-sm bg-gray-300 text-black p-2 rounded tailwind-tooltip -translate-x-16 -translate-y-12 font-sans Roboto">Dar de baja</span>
              </button>
            </ng-template>
            <ng-template [ngIf]=!customer.active>
              <button><i (click)="activeCustomer(customer.id)"
                         class="fa fa-level-up px-2 text-2xl text-gray-300 hover:text-gray-500"></i><span
                class="absolute text-sm bg-gray-300 text-black p-2 rounded tailwind-tooltip -translate-x-16 -translate-y-12 font-sans Roboto">Dar de alta</span>
              </button>
            </ng-template>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</div>
