<header-nav></header-nav>
<div class="w-full h-full">
    <navbar-admin></navbar-admin>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="bg-gray-800 m-5 rounded-lg p-5">
        <h2 class="text-white text-center text-2xl font-bold">Crear Nuevo Post</h2>
        <div class="mb-6">
            <label for="title" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Título</label>
            <input type="text" id="title"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                formControlName="title">
        </div>
        <div class="mb-6">
            <label for="description"
                class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Descripción</label>
            <input type="text" id="description"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                formControlName="description">
        </div>
        <div class="mb-6">
            <label class="block mb-2 text-xl font-medium text-gray-900 dark:text-white" for="photo">Subir Foto</label>
            <input (change)="onFileChange($event)"
                class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                id="photo" type="file">
        </div>
        <button type="submit"
            class="relative inline-flex items-center justify-center p-0.5 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white text-white focus:outline-none focus:ring-0 ">
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 rounded-md group-hover:bg-opacity-0">
                Subir Post
            </span>
        </button>
    </form>
</div>