<loading *ngIf="!isLogin"></loading>
<div *ngIf="isLogin" class="w-full h-full">
    <navbar-admin></navbar-admin>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="bg-gray-600 m-5 rounded-lg p-5">
        <h2 class="text-white text-center text-3xl font-bold">Crear Nuevo Post</h2>
        <div class="mb-6">
            <label for="title" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Título</label>
            <input type="text" id="title"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                formControlName="title">
        </div>
        <div class="mb-6">
            <label for="description"
                class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Descripción</label>
            <input type="text" id="description"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                formControlName="description">
        </div>
        <div class="mb-6">
            <label class="block mb-2 text-xl font-medium text-gray-900 dark:text-white" for="photo">Subir Foto</label>
            <input (change)="onFileChange($event)"
                class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                id="photo" type="file">
        </div>
        <button type="submit"
            class="relative inline-flex items-center justify-center p-0.5 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white text-white focus:outline-none focus:ring-0 ">
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 rounded-md group-hover:bg-opacity-0">
                Subir Post
            </span>
        </button>
    </form>

    <div class="relative overflow-x-auto rounded sm:rounded-lg m-5 bg-gray-500">
        <h2 class="text-center text-3xl text-white font-bold p-4">Posts</h2>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-600 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Foto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Título
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Descripción
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts" class="bg-white border-b dark:bg-gray-500 dark:border-gray-600">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex-shrink-0">
                            <img class="w-24 h-20 sm:w-24 sm:h-24 rounded-xl sm:rounded-full"
                                [src]="'http://localhost:8000' + post.photo">
                        </div>
                    </td>
                    <td class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                        {{ post.title }}
                    </td>
                    <td class="px-6 py-4 text-white">
                        {{ post.description }}
                    </td>
                    <td class="px-6 py-4 text-right flex justify-end items-center align-middle">
                        <button class="mt-8"><i routerLink="/admin/editPost/{{ post.id }}"
                                class="fa fa-pencil-square-o px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-16 md:-translate-x-24 -translate-y-9">Editar
                                Cliente</span>
                        </button>
                        <button class="mt-8"><i (click)="deletePost(post.id)"
                                class="fa fa-trash px-2 text-xl text-gray-700 hover:text-gray-400"></i><span
                                class="absolute text-sm bg-gray-900 text-white p-2 rounded tailwind-tooltip -translate-x-16 -translate-y-12">Borrar
                                Post</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>