<loading *ngIf="!isLogin"></loading>
<form *ngIf="isLogin" [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="bg-gray-800 m-5 rounded-lg p-5">
    <div class="mb-6">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input type="text" id="nombre"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="selectedCustomer.name" formControlName="name" name="name">
        <h3 *ngIf="form['name'].touched && form['name'].hasError('required')" class="text-red-600 mt-1">
            El nombre es obligatorio
        </h3>
        <h3 *ngIf="form['name'].touched && form['name'].hasError('pattern')" class="text-red-600 mt-1">
            Uso de caracteres inválidos
        </h3>
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <input type="email" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="selectedCustomer.email" formControlName="email" name="email">
        <h3 *ngIf="form['email'].touched && form['email'].hasError('required')" class="text-red-600 mt-1">
            El correo electrónico es obligatorio
        </h3>
        <h3 *ngIf="form['email'].touched && form['email'].hasError('email')" class="text-red-600 mt-1">
            El correo está mal escrito
        </h3>
    </div>
    <div *ngIf="selectedCustomer.trainer !== undefined" class="mb-6">
        <label for="trainer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Entrenador</label>
        <select id="trainer" formControlName="trainer_id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option disabled>Selecciona un Entrenador</option>
            <option *ngFor="let trainer of trainers" [value]="trainer.id">{{ trainer.name }}</option>
        </select>
    </div>
    <div *ngIf="selectedCustomer.trainer === undefined" class="mb-6">
        <label for="trainer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Entrenador</label>
        <select id="trainer" formControlName="trainer_id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option disabled selected>Selecciona un Entrenador</option>
            <option *ngFor="let trainer of trainers" [value]="trainer.id">{{ trainer.name }}</option>
        </select>
    </div>
    <div *ngIf="selectedCustomer.typeTraining !== null" class="mb-6">
        <label for="typeTraining"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Entrenamiento</label>
        <input type="text" id="typeTraining"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="selectedCustomer.typeTraining" formControlName="typeTraining">
    </div>
    <div *ngIf="selectedCustomer.typeTraining === null" class="mb-6">
        <label for="typeTraining"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Entrenamiento</label>
        <input type="text" id="typeTraining"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Entrenamiento no asignado" [(ngModel)]="selectedCustomer.typeTraining"
            formControlName="typeTraining">
    </div>
    <h3 *ngIf="showInvalidSubmit"
    class="text-red-600 mt-1">
    Rellena correctamente el formulario (*)
    </h3>
    <button type="button" (click)="goBack()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium  rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white text-white  focus:outline-none focus:ring-pink-200 ">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75  bg-gray-800 rounded-md group-hover:bg-opacity-0">
            Cancelar
        </span>
    </button>
    <button type="submit"
        (blur)="showInvalidSubmit = false"
        class="relative inline-flex items-center justify-center p-0.5 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white text-white focus:outline-none focus:ring-0 ">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 rounded-md group-hover:bg-opacity-0">
            Editar Cliente
        </span>
    </button>
</form>
