@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
html,body {
    font-family: 'Gideon Roman', cursive;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}