@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    font-family: 'Rufina';
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}